*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/**header**/

header{
    background: #105250;
    margin-bottom: 100px;
}
.header .logo{
    padding: 10px;
    left: 22px;
}
.header h2{
    color: white;
    padding-bottom: 9px;
}
.header :hover a{
    text-decoration: none;
}
  
.form{
    margin-top: 22px;
}
.form .btn{
    padding: 5px 10px;
}
.form1 .login{
    background: green;
}
.login a{
    color: white;
}
.form1:hover .login{
    background: #6dbd80;
}
.form1:hover .login a{
    text-decoration: none;
    color: white;
}

.form2 .sign{
    background: blue;
    color: white;
}
.sign a{
    color: white;
}
.form2:hover .sign{
    background: #748cd8;
}
.form2:hover .sign a{
    text-decoration: none;
    color: white;
}

        /**popup**/
/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #105250;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}

        /**modal-body--form**/

.modal-body input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.modal-body input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-body input[type=submit] {
    width: 100%;
    background-color: #105250;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.modal-body input[type=submit]:hover {
    background: #6dbd80;
}

.modal-body {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.modal-signup{
    text-align: center;
}
.modal-signup h5 a{
    text-decoration: none;
}
.modal-signup h5:hover a{
    color: mediumblue;
}
.modal-sign-in-method{
    padding-top: 10px;
    text-align: center;
}
.modal-sign-in-method .btn1{
    background: #4e64ad;
    border-radius: 17px;
    padding: 5px 50px 5px 50px;
    cursor: pointer;    
}
.modal-sign-in-method .btn1 a{
    text-decoration: none;
    color: white;
}
.btn1:hover{
    background: #6979ae;
}
.modal-sign-in-method .btn2{
    background: #dd4b39;
    color: white;
    border-radius: 17px;
    padding:5px 50px 5px 50px;
}
.modal-sign-in-method .btn2 a{
    text-decoration: none;
    color: white;
}
.btn2:hover{
    background: #e59d94;
}




/**content**/
.content{
    margin-bottom: 20px;
}
.content h1{
    text-align: center;
    font-weight: bold;
    font-family: calibiri;
    padding: 10px;
}
.content p{
    text-align: center;
    font-size: 20px;
    color: grey;
    padding-bottom: 50px;
}

        /**inner-content**/   

.inner-content{
    margin-bottom: 200px;
    margin-top: 50px;
}
        /**search**/
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.3); 
}

form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #105250;;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

form.search button:hover {
    background: #237270;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

        /**spin**/
#spin {
 font-weight: bolder;
 color: black;
}
#spin:after {
  content:"";
  animation: spin 20s linear infinite;
}
@keyframes spin {
  0% { content:"places"; }
  10% { content:"people"; }
  20% { content:"things"; }
  30% { content:"places"; }
  40% { content:"people"; }
  50% { content: "things"; }
  60% { content: "places"; }
  70% { content: "people"; }
  80% { content: "things"; }
  90% { content: "places"; }
  100% { content: "places"; }
}




/**footer**/

footer{
    background-image: url(image/footer.jpg);
    background-color: #105250;
    background-blend-mode: darken;
    background-size: cover;
    padding: 18px;
    
}
footer h3{
    color: white;
    text-decoration: underline;
    text-decoration-color: #fff9;
}
footer p{
    color: white;
    font-weight: bolder;
}
footer .register a{
    padding: 5px;
    border-radius: 20px;
    background: white;
    color: blue;
}
.imagg .imgs{
    padding: 10px;
    color: white;
    background: white;
    border-radius: 100px;
}
.imgs:hover{
    animation: rotate 1s linear ;
    -webkit-animation:rotate 1s linear;
    text-decoration: none;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}




/**bottom**/

.bottom p{
    text-align: center;
}



#myPopoverContent {display: none; float: right;}
.popover{
    width:700px;   
}



