header{
	margin-bottom: 0px;
}
/*********listoplaces*******/
.listofplaces .ebc h2{
	margin-bottom: 20px;
	color: black;
}
.listofplaces .ebc p{
	text-align: justify;
	font-size: 17px;
	font-family: timesroman;
	padding-top: 20px;
	color: black;
}
.fact{
	margin-top: 86px;
}
.fact h3{
	background:#105250;
	color: white;
	padding: 10px; 
}
.listofplaces .fact  em{
	color: #105250;
	font-weight: bold;
	font-size: 17px;
}

/*********rate******/
.rate h3{
	background:#105250;
	color: white;
	padding: 10px;
}
.tab{
	padding: 20px 0px;
}
.tab .active a{
	background-color: #105250 !important;
}
.tab ul li a{
	background: #486665;
	color: white;
}
.tab ul li a:hover {
	background: #486665;
	color: white;
}
.tab-content{
	padding: 20px;
	box-shadow: 1px 0px 2px 2px rgba(0, 0, 0, 0.3);
}
#home p{
	color: black;
}

.tab-content p em{
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	color: #105250;
}
.tab-content p b{
	font-size: 20px;
	color: #105250;
}
.tab-content .topic{
	cursor: pointer;
}

.tab-content .topic:hover{
	text-decoration: underline;
}
#testomonial h3{
	font-weight: bold;
}

#cost ul li{
	list-style: none;
}
#cost .yes{
	color: #0ed220;
	font-weight: bold;
}
#cost .check  li .fa-check{
	color: #0ed220;
}
#cost .no{
	margin-top: 30px;
	color: red;
	font-weight: bold;
}
#cost .cross  li .fa-times{
	color: red;
}

		/**you may also like**/

.similarpackage ul{
	background: #eeecec;
}
.similarpackage ul li{
	margin-left: 20px;
	font-family: calibri;
	font-size: 17px;
	padding: 5px 0px;
}
.similarpackage ul li a{
	color: #105250;
}


