/*************listofplaces************/
.listofplaces .btn{
	background-color: #105250;
}
.listofplaces .btn a{
	color: white;
}

.listofplaces p{
	padding: 10px;
	color: black;
}
.listofplaces .btn{
	margin: 10px;
}
.listofplaces .title{
	font-weight: bold;
}
.row{
	margin-top: -10px;
	margin-bottom: 40px;
}
.row h1{
	margin-bottom: 50px;
	margin-left: 7px;
}

.ebc1, .ebc2, .ebc3, .ebc4, .ebc5, .ebc6{
	background-color: #f0f1f2;
} 

